<!-- Хлебные крошки -->
include ../components/breadcrumbs.pug


<!-- Первый экран -->
include amb_promo.pug


<!-- SEO-абзац -->
include ../components/bullets/bullets_min.pug


<!-- Галерея амбассадора -->
include amb_galery.pug

