section.amb-promo
    .n-container.amb-promo__n-container
        <!-- Ниже заголовки и текста - не знаю какие для них нужно было проставить теги, поэтому сделал дивами на время, чтоб ниче не напутать -->
        .amb-promo__content
            .amb-promo__title.heading-title-l Супер Олег Барберович
            .amb-promo__sub-title «Не принимай ничего на свой счет, кроме денег»
            .amb-promo__text Наша команда мастеров-технологов и амбассадоров  состоит из талантливых мастеров, которых объединяет любовь к общему делу, профессионализм и желание работать на высококачественной косметике.
            .amb-promo__text Более того, мы активно сотрудничаем с известными барберами и академиями, проводим мастер-классы и обучения.

        <div class='x_mark_svg'>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="816" height="816" viewBox="0 0 816 816">
                <clipPath id="test">
                    <path id="Union_20" data-name="Union 20" d="M408,571.2,163.2,816,0,652.8,244.8,408,0,163.2,163.2,0,408,244.8,652.8,0,816,163.2,571.2,408,816,652.8,652.8,816Z" opacity="0.5" fill="url(#linear-gradient)"/>
                </clipPath>
                <image width="874" height="1398" href="./img/amb/amb_x_mark_img.png" clip-path="url(#test)" x='0px' y='-300px' />
            </svg>
        </div>