section.amb-galery
    .n-container.amb-galery__n-container
        a(href='' target='_blank').amb-galery__title.heading-title-l Instagram
    
        .amb-galery__list
            .amb-galery__item
                img(src="./img/amb/galery/1.jpg", alt="")

            .amb-galery__item
                img(src="./img/amb/galery/1.jpg", alt="")

            .amb-galery__item
                img(src="./img/amb/galery/1.jpg", alt="")

            .amb-galery__item
                img(src="./img/amb/galery/1.jpg", alt="")