footer.footer
    .footer-top
        .n-container.footer-top__n-container
            img(src="./img/svg/logo_white.svg", alt="Galoremen").footer-top__logo
            .footer-top__row
                .footer-info
                    p Санкт-Петербург,  Лахтинский проспект 85Б, ТК «Гарден Сити», 2 эт. <br>Пн-Пт — 10.30 - 20.30 <br>Сб - Вс — выходной
                    a(href='tel:88125666650' link='tel') 8 (812) 566 66 50
                    a(href='mailto:info@galoremen.ru' link='email') info@galoremen.ru

                nav.footer-menu
                    .footer-menu-item.footer-menu-item--double
                        span.footer-menu-item__title Эксклюзивные бренды для России
                        ul
                            li
                                a(href='/') London Grooming
                            li
                                a(href='/') Solomons
                            li
                                a(href='/') Razer MD
                            li
                                a(href='/') Pacionos
                            li
                                a(href='/') Chicago Comb
                            li
                                a(href='/') Tomb 45
                            li
                                a(href='/') Menspire
                            li
                                a(href='/') Fresh Heads
                            li
                                a(href='/') Bona Fide
                            li
                                a(href='/') Fulton & Roark

                    .footer-menu-item
                        span.footer-menu-item__title Информация
                        ul
                            li
                                a(href='/') О компании
                            li
                                a(href='/') Работать с нами
                            li
                                a(href='/') Политика приватности
                            li
                                a(href='/') Условия использования
                    .footer-menu-item
                        span.footer-menu-item__title Покупателям
                        ul
                            li
                                a(href='/') Контакты
                            li
                                a(href='/') Гарантия и оплата
                            li
                                a(href='/') Доставка и возврат
                            li
                                a(href='/') FAQ
                    .footer-menu-item
                        span.footer-menu-item__title Своя тусовка
                        ul
                            li
                                a(href='/' target='_blank') Instagram
                            li
                                a(href='/' target='_blank') VK
                            li
                                a(href='/' target='_blank') Facebook
                            li
                                a(href='/' target='_blank') YouTube
    .footer-mid
        .n-container.footer-mid__n-container
            p.footer-mid__title Не пропусти ништяки! Подпишись на хорошие новости!
            form.footer-mid-form(action='' type='')
                input.field-face(type="email" placeholder='Ваш E-mail')
                button.btn.btn--white(type='submit') Подписаться
    .footer-bot
        .n-container.footer-bot__n-container
            p Все права защищены.© 2010-2019 Galoremen
            a(href="http://instagram.com/midyanets" target='_blank' title='instagram.com/midyanets') Midyanets 2019