section.gui.n-container

    .btn.btn--black Черный border
    .btn.btn--white Белый border
    .btn.btn--grey Серая кнопка

    .heading-title-l Galoremen shop
    .heading-title-m Galoremen shop
    .heading-title-s Galoremen shop