header.header
    .header-top
    .header-main
        .n-container.header-main__n-container
            .header-main__logo
                a(href='/' title='Galoremen.ru')
                    img(src="/img/svg/logo_black.svg", alt="Galoremen.ru")
                span.header-main__logo-desc Эксклюзивный дистрибьютор редкой мужской косметики.
            nav.header-nav
                a(href='') Каталог
                a(href='') Бренды
                a(href='') Амбассадоры
                a(href='') Компания
                a(href='') Блог
                a(href='') Контакты
            a(href='').header-main__btn.btn.btn--black бизнес с galore