main.main-block
    //- include components/bullets.pug
    //- include components/paragraph/paragraph_default.pug
    //- include components/link_x1.pug
    //- include components/link_x2.pug
    //- include components/link_x6.pug
    //- include components/form_x_mark.pug


    <!-- Main -->
    include main/main.pug

    //- <!-- product_card -->
    //- include product_card/product_card.pug

    //- <!-- Catalog -->
    //- include catalog/catalog.pug

    //- <!-- Category -->
    //- include category/category.pug

    //- <!-- Business -->
    //- include business/business.pug

    //- <!-- Brands -->
    //- include brands/brands.pug

    //- <!-- Brand -->
    //- include brand/brand.pug

    //- <!-- Ambs -->
    //- include ambs/ambs.pug

    //- <!-- Amb -->
    //- include amb/amb.pug

    //- <!-- Company -->
    //- include company/company.pug