//- include components/bullets.pug
//- include components/paragraph/paragraph_default.pug
//- include components/link_x1.pug
//- include components/link_x2.pug
//- include components/link_x6.pug
//- include components/form_x_mark.pug


<!-- product_card -->
//- include product_card/product_card.pug

<!-- Catalog -->
//- include catalog/catalog.pug

<!-- Category -->
include category/category.pug



//- include components/x_mark_svg.pug
