.main-first {
  width: 100%;
  max-width: 1920px;
  height: 888px;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.main-first-block {
  width: 100%;
  height: 100%;
  display: flex;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.main-first-block::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(33, 33, 33, 0.5);
  z-index: 1;
}
.main-first-block__container {
  width: 100%;
  padding: 0 130px;
  padding-top: 96px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
}
.main-first-block__title {
  max-width: 1100px;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 84px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.84px;
  text-align: left;
  color: var(--galore_white);
  margin-bottom: 24px;
}
.main-first-block__sub-title {
  max-width: 700px;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 300;
  line-height: 1.43;
  text-align: left;
  color: var(--galore_white);
  margin-bottom: 40px;
}
.main-first-block__btn {
  width: 393px;
}
.main-first__footer {
  width: calc(100% - 260px);
  position: absolute;
  bottom: 150px;
  left: 130px;
  display: flex;
  justify-content: space-between;
  z-index: 20;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.main-first__counter {
  margin-left: auto;
  display: flex;
  align-items: flex-end;
}
.main-first__counter--current {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 54px;
  font-weight: 300;
  line-height: 1.27;
  text-align: right;
  color: var(--galore_white);
}
.main-first__counter--all {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 44px;
  font-weight: 300;
  line-height: 1.27;
  text-align: right;
  color: var(--galore_white);
  margin-left: 15px;
}
.main-first__btns {
  display: flex;
  align-items: center;
}
.main-first__btn {
  transition: 0.2s ease-out;
  cursor: pointer;
  width: 73px;
  height: 17px;
  height: 33px;
  position: relative;
}
.main-first__btn:hover[prev] {
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
}
.main-first__btn:hover[next] {
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}
.main-first__btn[next] {
  background: url('../img/svg/btn_next_arr_white.svg') no-repeat right center;
}
.main-first__btn[next]::before {
  content: '';
  width: 71px;
  height: 1px;
  right: 1px;
  top: 16px;
  position: absolute;
  background-color: var(--galore_white);
}
.main-first__btn[prev] {
  background: url('../img/svg/btn_prev_arr_white.svg') no-repeat left center;
}
.main-first__btn[prev]::before {
  content: '';
  width: 71px;
  height: 1px;
  left: 1px;
  top: 16px;
  position: absolute;
  background-color: var(--galore_white);
}
.main-first__btn[prev] {
  margin-right: 30px;
}
.main-brands {
  width: 100%;
  justify-content: center;
  margin-top: 152px;
}
.main-brands__n-container {
  flex-direction: column;
}
.main-brands__title {
  margin-bottom: 64px;
  max-width: 700px;
}
.main-brands__slider {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-brands__slider .swiper-wrapper {
  align-items: center;
}
.main-brands__wrap {
  width: 100%;
  overflow: hidden;
}
.main-brands__item {
  width: calc(100% / 4 - 90px / 4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-brands__item img {
  width: auto;
}
.main-brands__btns {
  order: 2;
  display: flex;
  align-items: center;
}
.main-brands__btn {
  transition: 0.2s ease-out;
  cursor: pointer;
  width: 73px;
  height: 17px;
  height: 33px;
  position: relative;
}
.main-brands__btn:hover[prev] {
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
}
.main-brands__btn:hover[next] {
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}
.main-brands__btn[next] {
  background: url('../img/svg/btn_next_arr.svg') no-repeat right center;
}
.main-brands__btn[next]::before {
  content: '';
  width: 71px;
  height: 1px;
  right: 1px;
  top: 16px;
  position: absolute;
  background-color: var(--galore_black);
}
.main-brands__btn[prev] {
  background: url('../img/svg/btn_prev_arr.svg') no-repeat left center;
}
.main-brands__btn[prev]::before {
  content: '';
  width: 71px;
  height: 1px;
  left: 1px;
  top: 16px;
  position: absolute;
  background-color: var(--galore_black);
}
.main-brands__btn[prev] {
  margin-right: 30px;
}
.main-sale {
  width: 100%;
  justify-content: center;
  padding-top: 151px;
  padding-bottom: 151px;
}
.main-sale__n-container {
  flex-direction: column;
  align-items: flex-start;
}
.main-sale__title {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 84px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.84px;
  text-align: left;
  color: var(--galore_grey_dark);
  margin-bottom: 64px;
}
.main-sale-slider {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.main-sale-slider__wrap {
  width: 100%;
  order: 1;
}
.main-sale-slider__btns {
  order: 2;
  display: flex;
  align-items: center;
  margin-top: 62px;
}
.main-sale-slider__btn {
  transition: 0.2s ease-out;
  cursor: pointer;
  width: 73px;
  height: 17px;
  height: 33px;
  position: relative;
}
.main-sale-slider__btn:hover[prev] {
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
}
.main-sale-slider__btn:hover[next] {
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}
.main-sale-slider__btn[next] {
  background: url('../img/svg/btn_next_arr.svg') no-repeat right center;
}
.main-sale-slider__btn[next]::before {
  content: '';
  width: 71px;
  height: 1px;
  right: 1px;
  top: 16px;
  position: absolute;
  background-color: var(--galore_black);
}
.main-sale-slider__btn[prev] {
  background: url('../img/svg/btn_prev_arr.svg') no-repeat left center;
}
.main-sale-slider__btn[prev]::before {
  content: '';
  width: 71px;
  height: 1px;
  left: 1px;
  top: 16px;
  position: absolute;
  background-color: var(--galore_black);
}
.main-sale-slider__btn[prev] {
  margin-right: 30px;
}
/*  item  */
.main-sale-item {
  width: 100%;
  max-width: 393px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 540px;
  border: 1px solid var(--galore_grey_lighter);
  padding-bottom: 32px;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  transition: 0.2s ease;
}
.main-sale-item__img {
  width: 100%;
  height: 390px;
  align-self: center;
}
.main-sale-item__img img {
  width: 100%;
}
.main-sale-item__name {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  text-align: center;
  color: var(--galore_grey_dark);
  margin-bottom: 8px;
  padding: 0 20px;
}
.main-sale-item__available {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.14px;
  text-align: center;
  color: var(--galore_grey_middle);
  margin-bottom: 16px;
}
.main-sale-item__price {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.45;
  text-align: center;
  color: var(--galore_grey_dark);
}
.main-sale-item__btn {
  width: 100%;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--galore_grey_dark);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 1.8px;
  text-align: center;
  color: var(--galore_white);
  text-transform: uppercase;
  position: absolute;
  top: 100%;
  right: 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease-out;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  z-index: 11;
}
.main-sale-item:hover {
  border-color: var(--galore_grey_dark);
  text-decoration: none;
}
.main-sale-item:hover .main-sale-item__available,
.main-sale-item:hover .main-sale-item__price {
  text-decoration: none;
}
.main-sale-item:hover .main-sale-item__name {
  text-decoration: underline;
}
.main-sale-item:hover .main-sale-item__btn {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transition: 0.2s ease-out;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  z-index: 20;
}
.main-promo {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 680px;
  margin-bottom: 200px;
}
.main-promo__n-container {
  align-items: flex-start;
  position: relative;
}
.main-promo .x_mark_svg {
  position: absolute;
  right: 130px;
  top: 0px;
  z-index: -1;
}
.main-promo__content {
  width: 100%;
  max-width: 674px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main-promo__title {
  text-align: left;
  width: 100%;
  margin-bottom: 64px;
}
.main-promo__sub-title {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.43;
  text-align: left;
  color: var(--galore_grey_dark);
  margin-bottom: 24px;
}
.main-promo__text {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.56;
  text-align: left;
  color: var(--galore_grey_dark);
  margin-bottom: 16px;
}
.main-promo__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.main-promo__list li {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.56;
  text-align: left;
  color: var(--galore_grey_dark);
  padding-left: 16px;
  position: relative;
}
.main-promo__list li:not(:last-child) {
  margin-bottom: 16px;
}
.main-promo__list li::before {
  content: '';
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: var(--galore_grey_dark);
  position: absolute;
  left: 0;
  top: 12px;
}
/*   Адаптив   */
.main-room {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 152px;
  padding-bottom: 152px;
}
.main-room__n-container {
  flex-direction: column;
}
.main-room__title {
  margin-bottom: 64px;
  max-width: 700px;
}
.main-room__address {
  font-family: 'Roboto', sans-serif;
  font-size: 44px;
  font-weight: 400;
  line-height: 1.27;
  text-align: center;
  color: var(--galore_grey_dark);
}
.main-room__galery {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 64px;
}
.main-room__box {
  display: flex;
  flex-wrap: wrap;
  width: calc(50% - 15px);
}
.main-room__img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #707070;
}
.main-room__img img {
  width: 100%;
}
.main-room__img._x4 {
  width: calc(50% - 15px);
  margin-right: 30px;
}
.main-room__img._x1 {
  width: calc(50% - 15px);
  margin-bottom: 30px;
}
.main-room__img._x1:not(:nth-child(even)) {
  margin-right: 30px;
}
@media screen and (max-width: 1600px) {
  .main-first-block__container {
    padding: 0 40px;
    padding-top: 80px;
  }
  .main-first__footer {
    width: calc(100% - 80px);
    left: 40px;
    bottom: 100px;
  }
  .main-promo .x_mark_svg {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    right: -60px;
    top: -70px;
  }
}
@media screen and (max-width: 768px) {
  .main-first-block__title {
    font-size: 40px;
  }
  .main-first-block__sub-title {
    font-size: 22px;
  }
  .main-first__counter--current {
    font-size: 40px;
  }
  .main-first__counter--all {
    font-size: 35px;
  }
  .main-first-block__container {
    padding-bottom: 190px;
  }
  .main-first__footer {
    width: calc(100% - 30px);
    bottom: 30px;
    left: 15px;
  }
  .main-first-block__container {
    padding: 80px 15px 120px 15px;
  }
  .main-first {
    height: auto;
  }
  .main-sale-slider__wrap {
    width: 393px;
    overflow: hidden;
  }
  .main-promo__title {
    margin-bottom: 32px;
  }
  .main-promo__sub-title {
    margin-bottom: 20px;
  }
  .main-promo__text {
    margin-bottom: 32px;
  }
  .main-room__galery {
    margin-bottom: 32px;
  }
  .main-room__address {
    font-size: 28px;
  }
  .main-room__img._x4 {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .main-room__galery {
    flex-direction: column;
  }
  .main-room__box {
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .main-first-block__btn {
    width: 100%;
    max-width: 393px;
  }
  .main-first-block {
    min-height: 587px;
  }
  .main-brands__item {
    max-height: 250px;
  }
  .main-brands__item img {
    width: 100%;
  }
}
@media screen and (max-width: 425px) {
  .main-first-block__title {
    font-size: 35px;
  }
}
@media screen and (max-width: 1300px) {
  .main-brands__title {
    margin-bottom: 32px;
  }
  .main-sale-item__img {
    height: auto;
  }
  .main-sale-item {
    min-height: auto;
  }
  .main-promo__content {
    max-width: 536px;
    padding: 0;
  }
  .main-promo .x_mark_svg {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    right: -164px;
  }
  .main-promo {
    margin-bottom: 80px;
  }
  .main-room {
    padding: 80px 0;
  }
}
@media screen and (max-width: 1024px) {
  .main-sale-item__btn {
    position: static;
    opacity: 1;
    visibility: visible;
    -webkit-transform: none;
    transform: none;
    margin-top: 16px;
  }
  .main-promo {
    min-height: 0;
    padding-bottom: 64px;
  }
  .main-promo .x_mark_svg {
    display: none;
  }
  .main-promo__content {
    max-width: 100%;
  }
  .main-promo {
    margin-bottom: 64px;
  }
}
