.ambs-list {
  width: 100%;
  display: flex;
  justify-content: center;

  &__n-container {
      flex-wrap: wrap;
  }


  &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: hidden;

      width: calc(100% / 3 - 20px);
      min-height: 854px;

      transition: .2s ease;

      border: 1px solid var(--galore_grey_lighter);

      margin-bottom: 34px;

      &:not(:nth-child(3n)){
          margin-right: 30px;
      }


      position: relative;

      &__footer {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 0 24px;

        width: 100%;
        height: 200px;

        position: absolute;
        right: 0;
        bottom: 0;

        transition: .2s ease;

        background-color: var(--galore_grey_dark);
      }


      &__name {
        font-family: 'Roboto', sans-serif;
        font-size: 22px;
        font-weight: 300;
        line-height: 1.09;
        letter-spacing: 2.2px;
        text-align: center;
        color: var(--galore_white);

        text-transform: uppercase;

        margin-bottom: 16px;
      }


      &__img {
        transition: .25s ease-out;
      }


      &__desc {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.14px;
        text-align: center;
        color: var(--galore_grey_middle);

        &:not(:last-child){
          margin-bottom: 8px;
        }
      }


      transition: .2s ease;
      &:hover {
          text-decoration: none;
          box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.16);

          img {
            transform: scale(1.05);
          }

          .ambs-list-item__footer {
            .ambs-list-item__name {
              text-decoration: underline;
            }
          }
      }


      &._empty {
          background-color: var(--galore_grey_lightest);

          align-items: center;
          justify-content: center;
          border-color: none;
          pointer-events: none;
      }

  }
}