<!-- Хлебные крошки -->
include ../components/breadcrumbs.pug


<!-- Первый экран -->
include ambs_promo.pug


<!-- Список амбассадоров -->
include ambs_list.pug


<!-- SEO-абзац -->
include ../components/paragraph/paragraph_default.pug