.blogs-promo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
}
.blogs-promo__n-container {
  flex-direction: column;
}
.blogs-promo__title {
  margin-top: 32px;
  margin-bottom: 64px;
}
.blogs-promo-row {
  width: 100%;
  display: flex;
  align-items: stretch;
  height: 816px;
}
.blogs-promo-content {
  width: 100%;
  max-width: 534px;
  flex-shrink: 0;
  padding: 64px 40px 64px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--galore_grey_dark);
}
.blogs-promo-content__place {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1.4px;
  text-align: left;
  color: var(--galore_white);
  text-transform: uppercase;
  margin-bottom: 24px;
}
.blogs-promo-content__title {
  font-family: 'Roboto', sans-serif;
  font-size: 44px;
  font-weight: 400;
  line-height: 1.27;
  text-align: left;
  color: var(--galore_white);
  height: 288px;
  overflow: hidden;
}
.blogs-promo-content__date {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.56;
  text-align: left;
  color: var(--galore_grey_lighter);
  margin-bottom: 64px;
}
.blogs-promo-content__desc {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.56;
  text-align: left;
  color: var(--galore_grey_lighter);
  margin-bottom: 24px;
  height: 168px;
  overflow: hidden;
}
.blogs-promo-content__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.blogs-promo-content__btn {
  height: 40px;
  min-width: 150px;
  max-width: 176px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1.2px;
  text-align: center;
  padding: 0;
  align-items: center;
}
.blogs-promo-content .blogs-promo-content__views {
  display: flex;
  align-items: flex-end;
}
.blogs-promo-content .blogs-promo-content__views--count {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.56;
  text-align: right;
  color: var(--galore_grey_middle);
}
.blogs-promo__img {
  width: 100%;
  height: 100%;
  background-position: right center;
  background-size: cover;
  background-repeat: no-repeat;
}
.blogs-promo__img img {
  width: 100%;
  height: auto;
  display: none;
}
.blogs-main {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 152px;
}
.blogs-main__list {
  width: 100%;
  max-width: 1270px;
  display: flex;
  flex-direction: column;
}
.blogs-main-item {
  width: 100%;
  display: flex;
  align-items: stretch;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--galore_grey_lighter);
}
.blogs-main-item:last-of-type {
  margin-bottom: 30px;
}
.blogs-main-item__img {
  min-width: 534px;
  height: auto;
}
.blogs-main-item__img img {
  width: 100%;
  height: auto;
}
.blogs-main-item__col {
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
}
.blogs-main-item__place {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 1.4px;
  text-align: left;
  color: var(--galore_grey_middle);
  text-transform: uppercase;
  margin-bottom: 24px;
}
.blogs-main-item__title {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.43;
  text-align: left;
  color: var(--galore_grey_dark);
  margin-bottom: 8px;
}
.blogs-main-item__date {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: var(--galore_grey_middle);
  margin-bottom: 40px;
}
.blogs-main-item__desc {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.56;
  text-align: left;
  color: var(--galore_grey_dark);
  height: 80px;
  overflow: hidden;
  margin-bottom: 32px;
}
.blogs-main-item__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.blogs-main-item__btn {
  height: 40px;
  min-width: 150px;
  max-width: 176px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1.2px;
  text-align: center;
  padding: 0;
  align-items: center;
}
.blogs-main-item .blogs-promo-content__views {
  display: flex;
  align-items: flex-end;
}
.blogs-main-item .blogs-promo-content__views--count {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.56;
  text-align: right;
  color: var(--galore_grey_middle);
}
.blogs-main__show-more {
  max-width: 393px;
  align-self: center;
}
.blogs-main__aside {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blogs-main-random-item {
  width: 100%;
  max-width: 393px;
  display: flex;
  flex-direction: column;
}
.blogs-main-random-item__img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blogs-main-random-item__img img {
  width: 100%;
  height: auto;
}
.blogs-main-random-item__col {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--galore_grey_dark);
  padding: 24px 16px;
}
.blogs-main-random-item__type {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1.4px;
  text-align: left;
  color: var(--galore_white);
  text-transform: uppercase;
  margin-bottom: 32px;
}
.blogs-main-random-item__name {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.43;
  text-align: left;
  color: var(--galore_white);
  margin-bottom: 32px;
}
.blogs-main-random-item__footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.blogs-main-random-item__date {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: var(--galore_grey_middle);
}
.blogs-main-random-item__count {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: var(--galore_grey_middle);
}
@media screen and (max-width: 1300px) {
  .blogs-promo-row {
    flex-direction: column;
    height: auto;
  }
  .blogs-promo-content {
    max-width: 100%;
  }
  .blogs-promo-content__title {
    height: auto;
    margin-bottom: 24px;
  }
  .blogs-promo-content__date {
    margin-bottom: 24px;
  }
  .blogs-promo__img img {
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  .blogs-promo-content__title {
    font-size: 28px;
  }
  .blogs-promo__title {
    margin-top: 24px;
    margin-bottom: 32px;
  }
  .blogs-promo-content {
    padding: 32px 16px;
  }
}
