.field-face {
    height: 64px;
    display: flex;
    align-items: center;

    padding-left: 30px;
    padding-right: 30px;

    background-color: var(--galore_white);
    border: 1px solid var(--galore_grey_light);
    border-radius: 0;

    font-size: 18px;
    font-weight: 300;
    /* font-family указан в carcass.less для input'a */
    line-height: 1.17;
    text-align: left;
    color: var(--galore_grey_dark);

}