<!-- Хлебные крошки -->
include ../components/breadcrumbs.pug


<!-- Первый экран -->
include company_promo.pug


<!-- Список городов с картой -->
include company_map.pug


<!-- Видео о компании -->
include company_video.pug


<!-- Буллеты -->
include ../components/bullets/bullets_bold.pug


<!-- SEO-абзац -->
include ../components/paragraph/paragraph_default.pug