section.company-promo

    <!-- Слева -->
    .n-container.company-promo__n-container.company-promo__n-container--left
        <!-- Ниже заголовки и текста - не знаю какие для них нужно было проставить теги, поэтому сделал дивами на время, чтоб ниче не напутать -->
        .company-promo__content
            .company-promo__title.heading-title-l Galore Co.
            .company-promo__sub-title История компании
            .company-promo__text История началась в 2014 году с американских расчесок «Chicago Comb» – лучших в мире расчесок высшего качества, элегантных и вне времени изящных. Вдохновившись таким подходом к делу, мы отобрали только лучшие мужские косметические бренды. Сейчас в нашем ассортименте 11 брендов из Великобритании, Италии, Германии и США с богатой историей и продуктами отличного качества.
            .company-promo__text Компания Galor занимается продажей косметики и аксессуаров как для барбершопов, парикмахерских и салонов красоты, так и для всех мужчин, которые знают толк в уходе за собой. 
            .company-promo__text Мы являемся эксклюзивным дистрибьютором редких нишевых брендов мужской косметики, таких как London Grooming, Solomon’s, Graham Hill, Pacinos и многих других. 

        <div class='x_mark_svg'>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="816" height="816" viewBox="0 0 816 816">
            <defs>
              <linearGradient id="linear-gradient" x1="0.102" y1="0.898" x2="0.889" y2="0.111" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#e89f28"/>
                <stop offset="1" stop-color="#00b8df"/>
              </linearGradient>
            </defs>
                
            <clipPath id="test">
              <path id="Union_22" data-name="Union 22" d="M408,244.8,163.2,0,0,163.2,244.8,408,0,652.8,163.2,816,408,571.2,652.8,816,816,652.8,571.2,408,816,163.2,652.8,0Z" opacity="0.5" fill="url(#linear-gradient)"/>
            </clipPath>

            <image width="1024" height="1024" href="./img/company/company_x_mark_1.png" clip-path="url(#test)" x='-25px' y='-50px' />
            <path id="Union_22" data-name="Union 22" d="M408,244.8,163.2,0,0,163.2,244.8,408,0,652.8,163.2,816,408,571.2,652.8,816,816,652.8,571.2,408,816,163.2,652.8,0Z" opacity="0.5" fill="url(#linear-gradient)"/>
          </svg>
        </div>


    <!-- Справа -->
    .n-container.company-promo__n-container.company-promo__n-container--right
        <!-- Ниже заголовки и текста - не знаю какие для них нужно было проставить теги, поэтому сделал дивами на время, чтоб ниче не напутать -->
        .company-promo__content
            .company-promo__title.heading-title-l Work is Live
            .company-promo__sub-title Наши амбассадоры подходят делу с большой любовью. Ведь для них это – дело жизни.
            .company-promo__text Наша команда мастеров-технологов и амбассадоров  состоит из талантливых мастеров, которых объединяет любовь к общему делу, профессионализм и желание работать на высококачественной косметике.
            .company-promo__text Более того, мы активно сотрудничаем с известными барберами и академиями, проводим мастер-классы и обучения. 


        <div class='x_mark_svg'>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="816" height="816" viewBox="0 0 816 816">
            <defs>
              <linearGradient id="linear-gradient-2" x1="0.102" y1="0.898" x2="0.889" y2="0.111" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#00b8df"/>
                <stop offset="1" stop-color="#e89f28"/>
              </linearGradient>
            </defs>
                
            <clipPath id="test">
              <path id="Union_22" data-name="Union 22" d="M408,244.8,163.2,0,0,163.2,244.8,408,0,652.8,163.2,816,408,571.2,652.8,816,816,652.8,571.2,408,816,163.2,652.8,0Z" opacity="0.5" fill="url(#linear-gradient-2)"/>
            </clipPath>

            <image width="1330" height="885" href="./img/company/company_x_mark_2.jpg" clip-path="url(#test)" x='-255px' y='-25px' />
            <path id="Union_22" data-name="Union 22" d="M408,244.8,163.2,0,0,163.2,244.8,408,0,652.8,163.2,816,408,571.2,652.8,816,816,652.8,571.2,408,816,163.2,652.8,0Z" opacity="0.5" fill="url(#linear-gradient-2)"/>
          </svg>
        </div>