section.company-map
  .n-container.company-map__n-container
    img(src="./img/company/russia_map.png", alt="")
    .company-map__title.heading-title-l._left Более 85 магазинов по всей России
    .company-map__title.heading-title-l._right А также в Украине, Белоруссии, Польше и других странах

    ul.company-map__list
      li Санкт-Петербург
      li Москва
      li Новосибирск
      li Екатеринбург
      li Нижний Новгород
      li Казань
      li Челябинск
      li Омск
      li Самара
      li Кемерово 
      li Ростов-на-Дону
      li Уфа
      li Красноярск
      li Иркутск
      li Томск
      li Сочи
      li Тольятти
      li Брянск
      li Пермь
      li Краснодар
      li Воронеж
      li Волгоград
      li Хабаровск
      li Владивосток