section.company-room
    .n-container.company-room__n-container

        .company-room-row
            .company-room-col._left
                .company-room__title.heading-title-l Приглашаем посетить наш шоу-рум
                p.company-room__sub-title Место, где вы можете ознакомиться с брендами, пообщаться с нашей командой, протестировать косметику и приобрести понравившуюся продукцию.
                .company-room-box
                    .company-room__img-x1._1
                        img(src="./img/company/room_1.jpg", alt="")
                    .company-room__img-x1._2
                        img(src="./img/company/room_2.jpg", alt="")
            .company-room__img-x4._3
                img(src="./img/company/room_3.jpg", alt="")

        .company-room-row
            .company-room__img-x4._4
                img(src="./img/company/room_3.jpg", alt="")
            .company-room-col._right
                .company-room-box
                    .company-room__img-x1._5
                        img(src="./img/company/room_1.jpg", alt="")
                    .company-room__img-x1._6
                        img(src="./img/company/room_2.jpg", alt="")
                p.company-room__address С-Петербург, Лахтинский пр. 85 Б, ТК «Гарден Сити», 2 этаж <br> Пн-Пт  10.30 – 20.30
