section.company-video
  .n-container.company-video__n-container
    .company-video-bg

      <!-- Подставить ссылку на YouTube -->
      a.company-video__btn(href="https://www.youtube.com/embed/88Ord0X8b_E" data-fancybox)
        .company-video__icon