.trawl-popup(popup-id='registration_popup')
    .trawl-popup-header
        .trawl-popup-header__title Регистрация
        div(close)
    .trawl-popup-content
        .field-item
            label.field-item__label Ваш email
            .field-item__wrap
                input.field-item__face
    .trawl-popup-footer
        button.trawl-popup__btn._cancel Отмена
        button.trawl-popup__btn._submit Зарегистрироваться