.amb-galery {
    width: 100%;
    display: flex;
    justify-content: center;

    padding-top: 152px;
    padding-bottom: 122px;

    &__n-container {

        flex-direction: column;

    }


    &__title {
        margin-bottom: 64px;
        text-decoration: underline;
    }


    &__list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }


    &__item {
        width: 100%;
        max-width: calc(100% / 3 - 20px);

        max-height: 534px;

        display: flex;
        justify-content: center;
        align-items: center;

        border: 1px solid var(--galore_grey_lighter);

        img {
            width: 100%;
            height: auto;
        }

        margin-bottom: 30px;
        &:not(:nth-child(3n)){
            margin-right: 30px;
        }
    }
}


@media screen and (max-width: 1024px){

    .amb-galery__item {
        max-width: calc(50% - 15px);
    }

    .amb-galery__item:not(:nth-child(3n)) {
        margin-right: 0;
    }

    .amb-galery__item:nth-child(odd) {
        margin-right: 30px;
    }

}


@media screen and (max-width: 768px){
    .amb-galery {
        padding-top: 88px;
        padding-bottom: 88px;
    }

    .amb-galery__title {
        margin-bottom: 32px;
    }

    .amb-galery__item:nth-child(odd) {
        margin-right: 0;
    }

    .amb-galery__item {
        max-width: 534px;
    }
}