section.catalog-promo
    .n-container.catalog-promo__n-container
        .catalog-promo__content
            .catalog-promo__title.heading-title-l Сosmetic’s & accessorie’s
            .catalog-promo__sub-title Мужская косметика и аксессуары
            .catalog-promo__text Для мужчины косметика для бороды и усов является залогом их ухоженности и здорового состояния. Обладатели роскошных бород ежедневно используют различные косметические средства и аксессуары по уходу за волосами и кожей на лице. Интенсивное питание и смягчение – вот основные задачи этой линейки косметики.
        .catalog-promo__x-mark