section.catalog-links
    .n-container.catalog-links__n-container
        <!-- Проставить ссылки на категории -->
        a(href='').catalog-link
            .catalog-link__wrap
                img(src="./img/catalog/links/must.png", alt="")
            .catalog-link__footer Уход за бородой и усами
        a(href='').catalog-link
            .catalog-link__wrap
                img(src="./img/catalog/links/accessory.png", alt="")
            .catalog-link__footer Аксессуары
        a(href='').catalog-link
            .catalog-link__wrap
                img(src="./img/catalog/links/body.png", alt="")
            .catalog-link__footer Уход за лицом и телом
        a(href='').catalog-link
            .catalog-link__wrap
                img(src="./img/catalog/links/shave.png", alt="")
            .catalog-link__footer Все для бритья
        a(href='').catalog-link
            .catalog-link__wrap
                img(src="./img/catalog/links/hairs.png", alt="")
            .catalog-link__footer Уход за волосами
        a(href='').catalog-link
            .catalog-link__wrap
                img(src="./img/catalog/links/perfume.png", alt="")            
            .catalog-link__footer Парфюм