
<!-- Хлебные крошки -->
include ../components/breadcrumbs.pug

<!-- первый экран каталога-->
include catalog_promo.pug

<!-- Список категорий -->
include catalog_links.pug

<!-- Большая форма с крестом -->
include ../components/form_x_mark.pug

<!-- SEO-абзац с текстом -->
include ../components/paragraph/paragraph_default.pug