.footer {

    width: 100%;
    display: flex;
    flex-direction: column;

    background-color: var(--galore_grey_dark);

}



/* footer-top */
.footer-top {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 64px 0;

    &__n-container {
        flex-direction: column;
    }

    &__logo {
        align-self: flex-start;
    }

    &__row {
        width: 100%;
        display: flex;
    }
}

.footer-info {
    display: flex;
    flex-direction: column;

    max-width: 281px;
    flex-shrink: 0;
    padding-right: 30px;
    padding-top: 64px;

    p {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        font-stretch: normal;
        letter-spacing: 0.14px;
        text-align: left;
        color: var(--galore_white);

        margin-bottom: 24px;
    }

    a[link='tel'] {
        font-family: 'Roboto Slab', sans-serif;
        font-size: 22px;
        font-weight: bold;
        line-height: 1.45;
        font-stretch: normal;
        text-align: left;
        color: var(--galore_white);

        margin-bottom: 8px;
    }

    a[link='email'] {
        font-family: 'Roboto', sans-serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 1.53;
        font-stretch: normal;
        text-align: left;
        color: var(--galore_white);
    }
}

.footer-menu {
    width: 100%;
    display: flex;
}

.footer-menu-item {
    width: 20%;
    &--double { width: 40%; }

    display: flex;
    flex-direction: column;
    padding-right: 30px;
    &:last-of-type {
        padding-right: 0;
    }

    &__title {
        font-family: 'Roboto', sans-serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 1.45;
        font-stretch: normal;
        text-align: left;
        color: var(--galore_grey_light);

        margin-bottom: 34px;
    }

    ul {
        width: 100%;
        display: flex;
        flex-direction: column;

        li {
            width: 100%;
            font-size: 18px;
            font-weight: 300;
            line-height: 1.56;
            font-stretch: normal;
            text-align: left;
            color: var(--galore_grey_light);

            margin-bottom: 7px;
            display: flex; /* чтобы вложенная ссылка растянулась по высоте */
            a {
                width: 100%;
                transition: .2s ease;
                &:hover {
                    color: var(--galore_blue);
                }
            }
        }
    }

    &--double {

        ul {
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            li {
                width: calc(50% - 15px);

            }
        }

    }
}



/* ---------- */
/* footer-mid */
.footer-mid {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 55px 0;
    border-top: 1px solid var(--galore_grey_light);
    border-bottom: 1px solid var(--galore_grey_light);

    &__n-container {
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-family: 'Roboto', sans-serif;
        font-size: 34px;
        font-weight: bold;
        line-height: 2;
        font-stretch: normal;
        text-align: left;
        color: var(--galore_white);
    }

    &-form {

        display: flex;

        button {
            margin-left: 30px;
        }

        input {
            width: 390px;
        }
    }
}



/* ---------- */
/* footer-bot */
.footer-bot {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 42px 0 32px 0;

    &__n-container {
        justify-content: space-between;
        align-items: center;

        p, a {
            height: 22px;
            font-family: 'Roboto', sans-serif;
            font-size: 17px;
            font-weight: 400;
            line-height: 1.53;
            font-stretch: normal;

            color: var(--galore_stonewall);
        }
    }
}