.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--galore_white);

    border: 1px solid var(--galore_grey_light);

    // overflow: hidden;
    z-index: 10;
}


/*  Header top  */
.header-top {
  width: 100%;
  min-height: 64px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 64px;

  &-icon {
    width: 32px;
    height: 32px;
    fill: var(--galore_grey_light);
    
    transition: .2s ease;

    &.__geo {
      width: 16px;
      height: 16px;
      fill: var(--galore_grey_light);
      &:hover { fill: black; }
    }

  }

  //  Левая часть
  &__left {
    display: flex;
    align-items: center;
  }



  &-geo {
    display: flex;
    align-items: center;

    position: relative ; // для выпадашки с городами
    
    span {
      font-size: 18px;
      font-weight: 400;
      line-height: 1.78;
      text-align: left;
      color: var(--galore_blue);

      margin-left: 8px;
    }
  }

  &__address {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.14px;
    text-align: left;
    color: var(--galore_grey_dark);

    margin-left: 72px;
  }
  
}


/*  END Header top  */


/* header-main */
.header-main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    padding: 32px 0 24px 0;

    &__n-container {
        align-items: flex-start
    }

    &__logo {
        display: flex;
        margin-right: 107px;
        height: 74px;

        a {
            margin-right: 24px;
        }
    }

    &__logo-desc {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: .14px;
        text-align: left;
        color: var(--galore_grey_middle);

        margin-top: 3px;
        max-width: 155px;
    }

    &__btn {
        width: 253px;
        margin-left: auto;
    }
}

.header-nav {

    padding-top: 32px;

    a {
        height: 16px;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.5;
        letter-spacing: 1.4px;
        text-align: center;
        color: var(--black);

        text-transform: uppercase;

        padding: 0 8px;

        &:not(:last-of-type){
            margin-right: 30px;
        }
    }
}
