doctype html
html(lang="ru")
	head
		include carcass/head.pug

	body
		include blocks/header.pug

		//- GUi для демонстрации элементов
		include blocks/GUI.pug


		include blocks/main.pug

		i.main-overlay
		include blocks/footer.pug

		script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")

		script(type="application/javascript" src='./js/jquery.fancybox.min.js')
		script(type="application/javascript" src='./js/swiper.min.js')
