doctype html
html(lang="ru")
	head
		include carcass/head.pug

	body
		<!-- sprite с svg-иконками -->
		include blocks/components/sprite.pug

		<!-- Шапка -->
		include blocks/header.pug

		<!-- Главный блок, внутри которого все блоки для страницы (без header'а и footer'а) -->
		include blocks/main.pug

		i.main-overlay

		<!-- Footer -->
		include blocks/footer.pug

		<!-- Подрубка общих скриптов и библ. -->
		script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
		script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
		script(type="application/javascript" src='./js/jquery.fancybox.min.js')
		script(type="application/javascript" src='./js/swiper.5.min.js')


		<!-- Для шапки => для каждой стр. -->
		script(type="application/javascript" src='./js/header.js')

		//- <!-- Для остальных стр. -->
		//- script(type="application/javascript" src='./js/galore.js')

		<!-- Только для стр. "Товар" -->
		script(type="application/javascript" src='./js/product_card.js')