doctype html
html(lang="ru")
	head
		include carcass/head.pug

	body
		<!-- sprite с svg-иконками -->
		include blocks/components/sprite.pug

		<!-- Шапка -->
		include blocks/header.pug

		//- GUi для демонстрации элементов
		//- include blocks/GUI.pug

		<!-- Главный блок, внутри которого все блоки для страницы (без header'а и footer'а) -->
		include blocks/main.pug

		//- i.main-overlay

		<!-- Footer -->
		include blocks/footer.pug

		<!-- Подрубка общих скриптов и библ. -->
		script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")

		script(type="application/javascript" src='./js/jquery.fancybox.min.js')
		//- script(type="application/javascript" src='./js/swiper.min.js')
		script(type="application/javascript" src='./js/swiper.5.min.js')


		<!-- Скрипты для конкретных страниц -->
		script(type="application/javascript" src='./js/main.js')

		//- script(type="application/javascript" src='./js/product_card.js')

		//- script(type="application/javascript" src='./js/business.js')

		//- script(type="application/javascript" src='./js/brands.js')

		//- script(type="application/javascript" src='./js/brand.js')


