section.business-q
    .n-container.business-q__n-container
        .business-q__title.heading-title-l Ответы на вопросы

        <!-- Контейнер для Вопросов -->
        ul.business-q__list

            <!-- Элемент Вопрос/Ответ -->
            li.business-q-item
                .business-q-item__header
                    .business-q-item__title Что такое партнерская программа?
                    .business-q-item__icon

                .business-q-item__content
                    p.business-q-item__text «GaloreMen» - впечатляющий выбор товаров для мужских парикмахерских и салонов красоты от лидеров мирового производства в сегменте мужской косметики для груминга и товаров для барбершопов. В каталоге вы найдёте исключительно оригинальную продукцию, качество которой проверено практикой. В нашем интернет магазине всё для барбера и мужского груминга представлены:
                    ul.business-q-item__list
                        li Расчески и бритвы премиум класса
                        li Мужская косметика для бритья
                        li Средства по уходу за бородой и волосами, стайлинги
                    p.business-q-item__text Купить мужские парикмахерские товары в Санкт-Петербурге или Москве очень просто. Мы осуществляем доставку по всей России и странам СНГ. Для оптовых покупателей предоставляется бесплатная доставка. (Уточняйте при оформлении заказа).


            <!-- Элемент Вопрос/Ответ -->
            li.business-q-item
                .business-q-item__header
                    .business-q-item__title Зачем становиться партнером Galore?
                    .business-q-item__icon
                .business-q-item__content
                    p.business-q-item__text «GaloreMen» - впечатляющий выбор товаров для мужских парикмахерских и салонов красоты от лидеров мирового производства в сегменте мужской косметики для груминга
                    ul.business-q-item__list
                        li Расчески и бритвы премиум класса
                        li Мужская косметика для бритья
                        li Средства по уходу за бородой и волосами, стайлинги
