<!-- Хлебные крошки -->
include ../components/breadcrumbs.pug


<!-- Первый экран -->
include business_promo.pug


<!-- Bullets -->
include ../components/bullets/bullets_thin.pug
+bullets_thin


<!-- Вопросы/Ответы -->
include business_questions.pug


<!-- Большая форма с крестом -->
include ../components/form_x_mark.pug


<!-- SEO-абзац -->
include ../components/paragraph/paragraph_bold.pug
+paragraph_bold('Мы будем рады, если именно Вы решите сотрудничать с нами. Барбершоп, парикмахерская или салон красоты, к каждому партнеру индивидуальный подход. Мы убеждены, что именно в этом секрет успеха.')