section.business-promo
    .n-container.business-promo__n-container
        <!-- Ниже заголовки и текста - не знаю какие для них нужно было проставить теги, поэтому сделал дивами на время, чтоб ниче не напутать -->
        .business-promo__content
            .business-promo__title.heading-title-l Business
            .business-promo__sub-title Умножай свои доходы в партнерстве с Galore
            .business-promo__text Работая с нами, вы получите не только крутую качественную продукцию, но и долгосрочную поддержку на всех этапах партнёрства, быструю доставку и другие бонусы. Мы проводим бесплатные обучения для барберов и администраторов, что делает работу с косметикой простой и понятной.

            p.business-promo__sub-title Получи все подробности в электронном письме
            <!-- Форма -->
            form(action="").business-promo__form
                input(type="email" placeholder='Email').field-face
                button(type='submit').btn.btn--black Отправить

        <div class='x_mark_svg'>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="816" height="816" viewBox="0 0 816 816">
                <clipPath id="test">
                    <path id="Union_20" data-name="Union 20" d="M408,571.2,163.2,816,0,652.8,244.8,408,0,163.2,163.2,0,408,244.8,652.8,0,816,163.2,571.2,408,816,652.8,652.8,816Z" opacity="0.5" fill="url(#linear-gradient)"/>
                </clipPath>
                <image width="1741" height="816" href="./img/business/business_x_mark_img.png" clip-path="url(#test)" x='-320px' y='0px' />
            </svg>
        </div>