section.bullets
    ul.n-container.bullets__n-container
        li.bullets-item.bullets-item--default
            .x-mark-64
            .bullets-item__col
                p Эксклюзивный дистрибьютор редких нишевых брендов
        li.bullets-item.bullets-item--default
            .x-mark-64          
            .bullets-item__col
                p Только сертифицированная продукция
        li.bullets-item.bullets-item--default
            .x-mark-64       
            .bullets-item__col
                p Доставка от 1-го дня по С-Петербургу, Москве и всей России
        li.bullets-item.bullets-item--default
            .x-mark-64
            .bullets-item__col
                p Система лояльности для постоянных клиентов