section.bullets
    ul.n-container.bullets__n-container
        li.bullets-item.bullets-item--bold
            .x-mark-64
            .bullets-item__col
                span.bullets-item__title 11
                p эксклюзивных брендов из США и Европы
        li.bullets-item.bullets-item--bold
            .x-mark-64
            .bullets-item__col
                span.bullets-item__title 30+
                p технологов и амбассадоров в России и СНГ
        li.bullets-item.bullets-item--bold
            .x-mark-64
            .bullets-item__col
                span.bullets-item__title 300+
                p Заключенных партнерских соглашений
        li.bullets-item.bullets-item--bold
            .x-mark-64
            .bullets-item__col
                span.bullets-item__title 7000+
                p Система лояльности для постоянных клиентов