.crumbs
    .n-container.crumbs__n-container
        <!-- Для крошки текущей страницы добавляем класс '_current' -->
        a(href='').crumbs__btn < Назад
        a(href='').crumbs__btn Главная
        a(href='').crumbs__btn._current Каталог