section.bullets
    ul.n-container.bullets__n-container
        li.bullets-item.bullets-item--default
            .x-mark-64
            .bullets-item__col
                p Эксклюзивный дистрибьютор редких нишевых брендов
        li.bullets-item.bullets-item--default
            .x-mark-64          
            .bullets-item__col
                p Только сертифицированная продукция
        li.bullets-item.bullets-item--default
            .x-mark-64       
            .bullets-item__col
                p Доставка от 1-го дня по С-Петербургу, Москве и всей России
        li.bullets-item.bullets-item--default
            .x-mark-64
            .bullets-item__col
                p Система лояльности для постоянных клиентов

section.bullets
    ul.n-container.bullets__n-container
        li.bullets-item.bullets-item--bold
            .x-mark-64
            .bullets-item__col
                span.bullets-item__title 11
                p эксклюзивных брендов из США и Европы
        li.bullets-item.bullets-item--bold
            .x-mark-64
            .bullets-item__col
                span.bullets-item__title 30+
                p технологов и амбассадоров в России и СНГ
        li.bullets-item.bullets-item--bold
            .x-mark-64
            .bullets-item__col
                span.bullets-item__title 300+
                p Заключенных партнерских соглашений
        li.bullets-item.bullets-item--bold
            .x-mark-64
            .bullets-item__col
                span.bullets-item__title 7000+
                p Система лояльности для постоянных клиентов

section.bullets
    ul.n-container.bullets__n-container
        li.bullets-item.bullets-item--thin
            .bullets-item__num 01
            .bullets-item__col
                span.bullets-item__title Оставьте вопрос
                p Просто оставьте свой email или позвоните по телефону 8 (812) 566 66 50
        li.bullets-item.bullets-item--thin
            .bullets-item__num 02
            .bullets-item__col
                span.bullets-item__title Консультация
                p С вами свяжется менеджер для обсуждения условий партнерства
        li.bullets-item.bullets-item--thin
            .bullets-item__num 03
            .bullets-item__col
                span.bullets-item__title Заключение договора
                p Мы подберем для вас индивидуальную схему партнерства
        li.bullets-item.bullets-item--thin
            .bullets-item__num 04
            .bullets-item__col
                span.bullets-item__title Поставка продукции
                p Сроки поставки от 1-го дня, но зависят от вашего местоположения