section.bullets
    ul.n-container.bullets__n-container
        li.bullets-item.bullets-item--thin
            .bullets-item__num 01
            .bullets-item__col
                span.bullets-item__title Оставьте вопрос
                p Просто оставьте свой email или позвоните по телефону 8 (812) 566 66 50
        li.bullets-item.bullets-item--thin
            .bullets-item__num 02
            .bullets-item__col
                span.bullets-item__title Консультация
                p С вами свяжется менеджер для обсуждения условий партнерства
        li.bullets-item.bullets-item--thin
            .bullets-item__num 03
            .bullets-item__col
                span.bullets-item__title Заключение договора
                p Мы подберем для вас индивидуальную схему партнерства
        li.bullets-item.bullets-item--thin
            .bullets-item__num 04
            .bullets-item__col
                span.bullets-item__title Поставка продукции
                p Сроки поставки от 1-го дня, но зависят от вашего местоположения