form.form-x(action="")
    .n-container.form-x__n-container
        .form-x__title Все, что будет написано здесь для оптовиков, бросится в глаза
        .form-x__text Оставь заявку и получи возможность влиять на свое будущее. Без спама и рекламы — только мужские разговоры о бизнесе.
        .form-x__row
            .form-x__row
                input(type="text" placeholder='Оптовик Оптович').field-face
                input(type="email" placeholder='optovik@gmail.com').field-face
                button.btn.btn--white Подписаться
            .form-x__col
                p.form-x__text-min Отдел поддержки оптовых клиентов
                a.form-x__text-tel(href="tel:88125666650") 8 (812) 566 66 50
    include x_mark/x_mark_azure.pug