section.form-thin
  .n-container.form-thin__n-container
    p.form-thin__offer Возможно, ты не понял о чем это мы… Жми на кнопку — все расскажем!
    button.form-thin__btn.btn.btn--grey Задать вопрос