section.link-x1
    .n-container.link-x1__n-container
        .heading-title-l Galore Shop
        a(href='').link-x1-link
            .link-x1-link__wrap
                img(src="/img/big/galore_shop_link_bg.jpg", alt="")
            .link-x1__footer Розничный каталог продукции