section.link-x2
    .n-container.link-x2__n-container
        .heading-title-l Делай бизнес <br> с Galor
        .link-x2__row
            a(href='').link-x2-link
                .link-x2-link__wrap
                    img(src="/img/big/galore_business_link_bg.jpg", alt="")
                .link-x2__footer Как стать партнером
            a(href='').link-x2-link
                .link-x2-link__wrap
                    img(src="/img/big/galore_amba_link_bg.jpg", alt="")
                .link-x2__footer Амбассадоры galor