mixin link_x1(title, text, src)

    section.link-x1
        .n-container.link-x1__n-container
            .heading-title-l= title
            a(href='').link-x1-link
                .link-x1-link__wrap
                    img(src=src, alt="")
                .link-x1__footer= text