section.link-x6
    .n-container.link-x6__n-container
        .heading-title-l Сosmetics <br> & accessories <br> for men
        .link-x6__row
            a(href='').link-x6-link
                .link-x6-link__wrap
                    img(src="/img/big/link_x6_bg.jpg", alt="")
                .link-x6__footer Уход за бородой и усами
            a(href='').link-x6-link
                .link-x6-link__wrap
                    img(src="/img/big/link_x6_bg.jpg", alt="")
                .link-x6__footer Аксессуары
            a(href='').link-x6-link
                .link-x6-link__wrap
                    img(src="/img/big/link_x6_bg.jpg", alt="")
                .link-x6__footer Уход за лицом и телом
            a(href='').link-x6-link
                .link-x6-link__wrap
                    img(src="/img/big/link_x6_bg.jpg", alt="")
                .link-x6__footer Все для бриться
            a(href='').link-x6-link
                .link-x6-link__wrap
                    img(src="/img/big/link_x6_bg.jpg", alt="")
                .link-x6__footer Уход за волосами
            a(href='').link-x6-link
                .link-x6-link__wrap
                    img(src="/img/big/link_x6_bg.jpg", alt="")
                .link-x6__footer Парфюм