<svg width="0" height="0" class="hidden">
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 23.75" id="cart">
    <path d="M19.35 5H18V2.5A2.443 2.443 0 0 0 15.6 0H8.4A2.443 2.443 0 0 0 6 2.5V5H4.65a2.443 2.443 0 0 0-2.4 2.5L0 21.25a2.443 2.443 0 0 0 2.4 2.5h19.2a2.443 2.443 0 0 0 2.4-2.5L21.75 7.5a2.443 2.443 0 0 0-2.4-2.5zM8.4 2.5h7.2V5H8.4zm13.2 18.75H2.4L4.65 7.5H6V10h2.4V7.5h7.2V10H18V7.5h1.35z"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.667 20.545" id="compare">
    <path d="M13.333 20.545V5.503h-2.666v15.042zm5.333 0V8.805H16v11.74zM8 20.545V0H5.333v20.545zm-8 0h2.667v-8.438H0z"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.333 13.333" id="geo">
    <path d="M4.667 0A4.663 4.663 0 0 0 0 4.667c0 3.5 4.667 8.667 4.667 8.667s4.667-5.167 4.667-8.667A4.663 4.663 0 0 0 4.667 0zm0 6.333a1.667 1.667 0 1 1 1.667-1.667 1.667 1.667 0 0 1-1.667 1.667z"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.667 24.467" id="heart_empty">
    <path d="M19.333 0a7.985 7.985 0 0 0-6 2.787 7.985 7.985 0 0 0-6-2.787A7.262 7.262 0 0 0 0 7.333c0 5.04 4.533 9.147 11.4 15.387l1.933 1.747 1.933-1.76c6.867-6.227 11.4-10.333 11.4-15.373A7.262 7.262 0 0 0 19.333 0zm-5.866 20.733l-.133.133-.133-.133c-6.347-5.747-10.533-9.547-10.533-13.4a4.557 4.557 0 0 1 4.665-4.666 5.213 5.213 0 0 1 4.76 3.147h2.493a5.179 5.179 0 0 1 4.747-3.147A4.557 4.557 0 0 1 24 7.333c0 3.854-4.187 7.654-10.533 13.4z"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.32 23.32" id="search">
    <path d="M16.667 14.667h-1.054l-.373-.36a8.68 8.68 0 1 0-.933.933l.36.373v1.053l6.667 6.653 1.987-1.987zm-8 0a6 6 0 1 1 6-6 5.992 5.992 0 0 1-6 6z"></path>
  </symbol>
  <symbol aria-hidden="true" data-prefix="fas" data-icon="sort-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" id="sort_down_grey">
    <path d="M41 288h238c21.4 0 32.1 25.9 17 41L177 448c-9.4 9.4-24.6 9.4-33.9 0L24 329c-15.1-15.1-4.4-41 17-41z"></path>
  </symbol>
  <symbol aria-hidden="true" data-prefix="fas" data-icon="sort-up" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" id="sort_up_blue">
    <path d="M279 224H41c-21.4 0-32.1-25.9-17-41L143 64c9.4-9.4 24.6-9.4 33.9 0l119 119c15.2 15.1 4.5 41-16.9 41z"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" id="tel">
    <path d="M11.34 8.253a7.629 7.629 0 0 1-2.353-.373.652.652 0 0 0-.673.16L7.267 9.353A10.122 10.122 0 0 1 2.673 4.8l1.3-1.107a.68.68 0 0 0 .16-.68A7.435 7.435 0 0 1 3.76.66.666.666 0 0 0 3.1 0H.793C.433 0 0 .16 0 .66A11.435 11.435 0 0 0 11.34 12a.7.7 0 0 0 .66-.787v-2.3a.666.666 0 0 0-.66-.66z"></path>
  </symbol>
</svg>