<div class='x_mark_svg'>

//- img(src="/img/x_mark/x_mark_try.jpg", alt="")


//- <svg width="816" height="816" xmlns="http://www.w3.org/2000/svg">
//-  <g>
//-   <rect fill="#999999" id="canvas_background" height="818" width="818" y="-1" x="-1"/>
//-   <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
//-    <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%"/>
//-   </g>
//-  </g> 
//-  <g>
//-   <rect transform="rotate(45 408.50000000000006,415.45312499999994) " id="svg_1" height="858" width="272" y="-13.546875" x="272.5" stroke-width="0" stroke="#000" fill="rgba(55,55,55,1)"/>
//-   <rect transform="rotate(-45 408.4999999999999,415.4531249999999) " id="svg_3" height="858" width="272" y="-13.546875" x="272.5" stroke-width="0" stroke="#000" fill="rgba(55,55,55,1)"/>
//-  </g>
//-   <image href='/img/x_mark/x_mark_try.jpg'>


//- </svg>

<svg width="816" height="816" xmlns="http://www.w3.org/2000/svg">
 <clipPath id="circleView">
  <rect transform="rotate(45 408.50000000000006,415.45312499999994) " id="svg_1" height="858" width="272" y="-13.546875" x="272.5" stroke-width="0" stroke="#000" fill="rgba(55,55,55,1)"/>
  <rect transform="rotate(-45 408.4999999999999,415.4531249999999) " id="svg_3" height="858" width="272" y="-13.546875" x="272.5" stroke-width="0" stroke="#000" fill="rgba(55,55,55,1)"/>
 </clipPath>
<image width="1330" height="855" href="/img/x_mark/x_mark_try.jpg" clip-path="url(#circleView)" />
    
 </svg>


</div>

//-  rgba(0,0,0,0)