section.category-links
    .n-container.category-links__n-container
        a(href='').category-link
            .category-link__wrap
                img(src="/img/category/links/1.jpg", alt="")
            .category-link__footer Уход за лицом
        a(href='').category-link
            .category-link__wrap
                img(src="/img/category/links/2.jpg", alt="")
            .category-link__footer Уход за телом
        a(href='').category-link
            .category-link__wrap
                img(src="/img/category/links/1.jpg", alt="")
            .category-link__footer Уход за лицом
        a(href='').category-link
            .category-link__wrap
                img(src="/img/category/links/2.jpg", alt="")
            .category-link__footer Уход за телом
        a(href='').category-link
            .category-link__wrap
                img(src="/img/category/links/1.jpg", alt="")
            .category-link__footer Уход за лицом
        a(href='').category-link
            .category-link__wrap
                img(src="/img/category/links/2.jpg", alt="")
            .category-link__footer Уход за телом
