<!-- Category первый экран -->
include category_promo.pug

<!-- Ссылочки на товар или бренд?  -->
include category_links.pug

<!-- Category каталог товаров -->
include category_catalog.pug

<!-- Большая форма с крестом -->
include ../components/form_x_mark.pug

<!-- SEO-абзац с текстом -->
include ../components/paragraph/paragraph_default.pug