section.category-promo
    .n-container.category-promo__n-container
        .category-promo__content
            .category-promo__title.heading-title-l Face and Body
            .category-promo__sub-title Мужская косметика для ухода за кожей лица и тела
            .category-promo__text Для мужчины косметика для бороды и усов является залогом их ухоженности и здорового состояния. Обладатели роскошных бород ежедневно используют различные косметические средства и аксессуары по уходу за волосами и кожей на лице. Интенсивное питание и смягчение – вот основные задачи этой линейки косметики.
            a(href='#category_catalog').category-promo__btn.btn.btn--black Смотреть каталог
        .category-promo__x-mark