section.brand-galery
    .n-container.brand-galery__n-container
        .brand-galery__title.heading-title-l Галерея

        <!-- Блок с выводом фоток. Кол-во фоток не ограничено -->
        .brand-galery__galery
            .brand-galery__item
                img(src="./img/brand/galery/1.jpg", alt="")
            .brand-galery__item
                img(src="./img/brand/galery/2.jpg", alt="")
            .brand-galery__item
                img(src="./img/brand/galery/3.jpg", alt="")
            .brand-galery__item
                img(src="./img/brand/galery/1.jpg", alt="")