<!-- Хлебные крошки -->
include ../components/breadcrumbs.pug


<!-- Первый экран -->
include brand_promo.pug


<!-- Товары бренда -->
include brand_list.pug


<!-- Форма с крестом -->
include ../components/form_x_mark.pug


<!-- Галерея бренда -->
include brand_galery.pug


<!-- SEO-абзац -->
include ../components/paragraph/paragraph_default.pug