section.brand-list
    .n-container.brand-list__n-container
        .brand-list__title.heading-title-l Товары бренда

        .brand-list-slider
            .brand-list-slider__btns
                .brand-list-slider__btn(prev)
                .brand-list-slider__btn(next)
            .brand-list-slider__wrap
                .swiper-wrapper

                    <!-- Карточка товара -->
                    a.brand-list-item.swiper-slide(href='', target='_blank')
                        img(src="./img/product_card/same/1.png", alt="").brand-list-item__img
                        span.brand-list-item__name Паста сильной фиксации с легким блеском SATIN Vol. 4 Ruger, 100 мл
                        span.brand-list-item__available В наличии
                        span.brand-list-item__price 3 990 ₽
                    <!-- [END] Карточка товара -->

                    <!-- Карточка товара -->
                    a.brand-list-item.swiper-slide(href='', target='_blank')
                        img(src="./img/product_card/same/1.png", alt="").brand-list-item__img
                        span.brand-list-item__name Паста сильной фиксации с легким блеском SATIN Vol. 4 Ruger, 100 мл
                        span.brand-list-item__available В наличии
                        span.brand-list-item__price 3 990 ₽
                    <!-- [END] Карточка товара -->

                    <!-- Карточка товара -->
                    a.brand-list-item.swiper-slide(href='', target='_blank')
                        img(src="./img/product_card/same/1.png", alt="").brand-list-item__img
                        span.brand-list-item__name Паста сильной фиксации с легким блеском SATIN Vol. 4 Ruger, 100 мл
                        span.brand-list-item__available В наличии
                        span.brand-list-item__price 3 990 ₽
                    <!-- [END] Карточка товара -->

                    <!-- Карточка товара -->
                    a.brand-list-item.swiper-slide(href='', target='_blank')
                        img(src="./img/product_card/same/1.png", alt="").brand-list-item__img
                        span.brand-list-item__name Паста сильной фиксации с легким блеском SATIN Vol. 4 Ruger, 100 мл
                        span.brand-list-item__available В наличии
                        span.brand-list-item__price 3 990 ₽
                    <!-- [END] Карточка товара -->

                    <!-- Карточка товара -->
                    a.brand-list-item.swiper-slide(href='', target='_blank')
                        img(src="./img/product_card/same/1.png", alt="").brand-list-item__img
                        span.brand-list-item__name Паста сильной фиксации с легким блеском SATIN Vol. 4 Ruger, 100 мл
                        span.brand-list-item__available В наличии
                        span.brand-list-item__price 3 990 ₽
                    <!-- [END] Карточка товара -->