.blogs-main {
  width: 100%;
  display: flex;
  justify-content: center;

  margin-bottom: 152px;

  &__n-container {

  }


  &__list {
    width: 100%;
    max-width: 1270px;

    // padding-right: 30px;

    display: flex;
    flex-direction: column;
  }

}


.blogs-main-item {
  width: 100%;
  width: calc(100% - 30px);

  display: flex;
  align-items: stretch;

  padding-top: 30px;
  padding-bottom: 30px;
  // padding-right: 30px;
  border-bottom: 1px solid var(--galore_grey_lighter);

  &:last-of-type {
    margin-bottom: 30px;
  }


  &__img {
    min-width: 534px;
    height: auto;
    img {
      width: 100%;
      height: auto;
    }
  }


  &__col {
    display: flex;
    flex-direction: column;

    padding: 40px 30px;
    padding-right: 0;
  }


  &__place {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1.4px;
    text-align: left;
    color: var(--galore_grey_middle);

    text-transform: uppercase;

    margin-bottom: 24px;
  }


  &__title {
    font-family: 'Roboto', sans-serif;

    font-size: 28px;
    font-weight: 400;
    line-height: 1.43;
    text-align: left;
    color: var(--galore_grey_dark);

    margin-bottom: 8px;
  }


  &__date {
    font-family: 'Roboto', sans-serif;

    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    color: var(--galore_grey_middle);

    margin-bottom: 40px;
  }

  &__desc {
    font-family: 'Roboto', sans-serif;

    font-size: 18px;
    font-weight: 300;
    line-height: 1.56;
    text-align: left;
    color: var(--galore_grey_dark);

    height: 80px;
    overflow: hidden;

    margin-bottom: 32px;
  }


  &__footer {
    margin-top: auto;

    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }


  &__btn {
    height: 40px;
    min-width: 150px;
    max-width: 176px;

    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 1.2px;
    text-align: center;

    padding: 0;
    align-items: center;
  }

  .blogs-promo-content__views {
    display: flex;
    align-items: flex-end;


    &--count {
      font-family: 'Roboto', sans-serif;

      font-size: 18px;
      font-weight: 300;
      line-height: 1.56;
      text-align: right;
      color: var(--galore_grey_middle);
    }
  }

}


.blogs-main__show-more {
  max-width: 393px;
  align-self: center;
}




.blogs-main__aside {
  display: flex;
  flex-direction: column;
  align-items: center;


}

.blogs-main-random-item {
  width: 100%;
  max-width: 393px;

  display: flex;
  flex-direction: column;


  &__img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: auto;
    }
  }


  &__col {
    width: 100%;
    display: flex;
    flex-direction: column;

    background-color: var(--galore_grey_dark);

    padding: 24px 16px;


  }


  &__type {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 1.4px;
    text-align: left;
    color: var(--galore_white);

    text-transform: uppercase;

    margin-bottom: 32px;
  }


  &__name {
    font-family: 'Roboto', sans-serif;

    font-size: 28px;
    font-weight: 400;
    line-height: 1.43;
    text-align: left;
    color: var(--galore_white);


    margin-bottom: 32px;
  }


  &__footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }


  &__date {
    font-family: 'Roboto', sans-serif;

    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    color: var(--galore_grey_middle);
  }

  &__count {
    font-family: 'Roboto', sans-serif;

    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    color: var(--galore_grey_middle);
  }
}



.blogs-main-inst {
  width: 100%;
  max-width: 393px;
  display: flex;
  flex-direction: column;

  align-items: flex-start;

  margin-top: 88px;
  padding-top: 88px;

  border-top: 1px solid var(--galore_grey_lighter);


  &__heading {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.43;
    text-align: left;
    color: var(--galore_grey_dark);

    margin-bottom: 40px;
  }


  &__header {
    width: 100%;
    display: flex;
    align-items: center;

    margin-bottom: 40px;
  }


  &__logo {
    width: 112px;
    height: 112px;

    border: 1px solid var(--galore_grey_dark);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 26px;

    img {
      width: 100%;
      height: auto;
      max-width: 92px;
    }
  }


  &__title {
    display: flex;
    flex-direction: column;


    &--name {
      font-family: 'Roboto', sans-serif;
      font-size: 28px;
      font-weight: 400;
      line-height: 1.43;
      text-align: left;
      color: var(--galore_grey_dark);
    }

    &--type {
      font-family: 'Roboto', sans-serif;
      font-size: 22px;
      font-weight: 400;
      line-height: 1.45;
      text-align: left;
      color: var(--galore_grey_middle);
    }
  }


  &__subs {
    width: 100%;
    text-align: center;

    margin-bottom: 24px;

    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.56;
    text-align: center;
    color: var(--galore_grey_dark);

    span {
      font-weight: 700;
    }
  }


  &__galery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 20px;
  }


  &__img {
    width: calc(50% - 2px);
    margin-bottom: 4px;

    img {
      width: 100%;
    }
  }


  &__btn {
    width: 100%;
    background-color: var(--galore_grey_dark);
  }
}



@media screen and (max-width: 1300px){

  .blogs-main__n-container {
    flex-direction: column;
  }

  .blogs-main-item {
    width: 100%;
  }

  .blogs-main-item__col {
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .blogs-main__list {
    margin-bottom: 64px;
  }

  .blogs-main__aside {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .blogs-main-random-item {
    margin-right: 30px;
  }

  .blogs-main-inst {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
  }

  .blogs-main-item__img {
    min-width: 400px;
  }
}


@media screen and (max-width: 1024px){



}



@media screen and (max-width: 768px){

  .blogs-main-item__img {
    min-width: 0;
  }

  .blogs-main-item {
    flex-direction: column;
  }

  .blogs-main-item__img {
    order: 2;
  }

  .blogs-main-item__col {
    order: 1;
    padding: 0;
    padding-bottom: 24px;
  }

  .blogs-main-item__title {
    font-size: 24px;
  }



  .blogs-main__aside {
    flex-direction: column;
    align-items: center;
  }

  .blogs-main-random-item {
    margin-right: 0;
    margin-bottom: 64px;
  }
}