section.paragraph
    .n-container.paragraph__n-container
        .x-mark-64.paragraph__x-mark-64
        .x-mark-64.paragraph__x-mark-64
        .paragraph__col
            h4.paragraph__title Мужская косметика и аксессуары
            p.paragraph__text Для мужчины косметика для бороды и усов является залогом их ухоженности и здорового состояния. Обладатели роскошных бород ежедневно используют различные косметические средства и аксессуары по уходу за волосами и кожей на лице. Интенсивное питание и смягчение – вот основные задачи этой линейки косметики.
            p.paragraph__text Актуальные цены на мужскую косметику для бороды в Санкт-Петербурге и Москве представлены в каталоге интернет-магазина. Оформив покупку на нашем сайте, вы получаете оригинальные сертифицированные средства премиального качества.