section.paragraph
    .n-container.paragraph__n-container
        .x-mark-64.paragraph__x-mark-64
        .x-mark-64.paragraph__x-mark-64
        .paragraph__col
            p.paragraph__text-bold Мы будем рады, если именно Вы решите сотрудничать с нами. Барбершоп, парикмахерская или салон красоты, к каждому партнеру индивидуальный подход. Мы убеждены, что именно в этом секрет успеха.