mixin paragraph_bold(text)
    section.paragraph
        .n-container.paragraph__n-container
            .x-mark-64.paragraph__x-mark-64
            .x-mark-64.paragraph__x-mark-64
            .paragraph__col
                p.paragraph__text-bold= text