section.benefits
    .benefits__container
        .benefits-col
            h3 Что умеет SeoTrawl
            ul.benefits-list 
                li Показывать, насколько хорошо ключи закрыты текстом и тегами
                li Работать со всем семантическим ядром страницы (до 250 ключей) на одном экране
                li Снимать позиции и частотности
                li Понимать морфологию, показывать частотности и позиции  для разных вариантов ключа ("[!]")
                li Собирать для каждого ключа рекомендации по частотности вхождения ключа в тексте и тегах (на основе топ-10 выдачи)
                li Делать базовый аудит сайта (валидация robots.txt, sitemap.xml, проверка зеркал, проверка страниц по pagespeed)
                li Прочие удобные мелочи
        .benefits-col
            h3 Кому необходим Seotrawl?
            ul.benefits-list 
                li SEO компаниям
                li SEO фрилансерам
                li Копирайтерам
