section.capability
    .capability__container
        .capability-title
            h2 Возможности SEOTRAWL
            p Мы использовали SeoTrawl как внутренний продукт 3 года — нам есть чем похвастаться
        .capability__wrap
            .capability-item
                img(src="./img/home/capability/1.png")
                p Сокращение времени обучения новых сеошников
            .capability-item
                img(src="./img/home/capability/2.png")
                p Повышение общей  производительности
            .capability-item
                img(src="./img/home/capability/3.png")
                p Ускорение разработки ТЗ
            .capability-item
                img(src="./img/home/capability/4.png")
                p Поиск синонимов и LSI
            .capability-item
                img(src="./img/home/capability/5.png")
                p Проверка качества текста  в реальном времени
            .capability-item
                img(src="./img/home/capability/6.png")
                p Увеличение семантического  ядра в разы
            .capability-item
                img(src="./img/home/capability/7.png")
                p Экономия на штате сотрудников
            .capability-item
                img(src="./img/home/capability/8.png")
                p Глубокий анализ морфологии
            .capability-item
                img(src="./img/home/capability/9.png")
                p Значительное повышение  качества ТЗ
            .capability-item
                img(src="./img/home/capability/10.png")
                p Точный анализ «тошноты»
