header.header
    a(href='/' title="seotrawl.net")
        img(src="./img/home/logo.png")
    
    div(burger)

    .header-menu
        .header-menu-item
            .header-menu-item__toggler
                .header-menu-item__title Сайты
                .header-menu-item__arrow-down

        .header-menu-item
            .header-menu-item__toggler
                .header-menu-item__title Счет: 20 &#8381;
                .header-menu-item__arrow-down

        .header-menu-item
            .header-menu-item__toggler
                .header-menu-item__title Тарифы
                .header-menu-item__arrow-down
            ul.header-menu-item-tariff(dropdown)
                li
                    span Импорт слова
                    span &mdash;&nbsp; 10 коп.
                li
                    span Сбор Pagespeed
                    span &mdash;&nbsp; 10 коп.
                li
                    span Сбор рекомендаций
                    span &mdash;&nbsp; 50 коп.
                li
                    span Сбор частотности
                    span &mdash;&nbsp;&nbsp;&nbsp; 1 коп.
                li
                    span Сбор позиции
                    span &mdash;&nbsp;&nbsp;&nbsp; 1 коп.
            
        a(href='/upload/seotrawl_manual.pdf' target='_blank').header-menu-item
            .header-menu-item__title Мануал
            
        a(href='/affiliate/').header-menu-item
            .header-menu-item__title Аффилиат
            
        .header-menu-item
            .header-menu-item__toggler
                .header-menu-item__user-icon
                .header-menu-item__title user name
            .header-menu-dd-item(dropdown)
                a.header-menu-dd-item__btn Выйти

