section.links
    .links__container
        .links-col
            .links__title
                h2 Техническая поддержка
                p Остались вопросы? Служба поддержки уже готова на них ответить. 
                    span  Отвечаем быстро.
            a(href="mailto:support@seotrawl.net" title="Написать нам на почту").links__link
                .links__link-icon._envelope
                span support@seotrawl.net
            a(href="skype:antonevi4" title="Связаться в skype").links__link
                .links__link-icon._skype
                span antonevi4
        .links-col
            .links__title
                h2 Мы в соцсетях
                p Получайте актуальную информацию  в наших сообществах.
            a(href="https://vk.com/seotrawl" target="_blank" title="Наша группа Вконтакте").links__link
                .links__link-icon._vk
                span https://vk.com/seotrawl
            a(href="https://www.facebook.com/seotrawl/" target="_blank" title="Наша группа на Facebook").links__link
                .links__link-icon._fb
                span https://www.facebook.com/seotrawl/