section.main-promo
    .n-container.main-promo__n-container
        <!-- Ниже заголовки и текста - не знаю какие для них нужно было проставить теги, поэтому сделал дивами на время, чтоб ниче не напутать -->
        .main-promo__content
            .main-promo__title.heading-title-l Galore — твой надежный партнер
            .main-promo__sub-title Интернет-магазин для барберов и барбершопов
            .main-promo__text «GaloreMen» - впечатляющий выбор товаров для мужских парикмахерских и салонов красоты от лидеров мирового производства в сегменте мужской косметики для груминга и товаров для барбершопов. В каталоге вы найдёте исключительно оригинальную продукцию, качество которой проверено практикой. В нашем интернет магазине всё для барбера и мужского груминга представлены:

            ul.main-promo__list
                li Расчёски и бритвы премиум класса
                li Мужская косметика для бритья
                li Средства по уходу за бородой и волосами, стайлинги
                li Разнообразные парикмахерские аксессуары
                li Оригинальные средства по уходу за лицом и телом и многое другое. 

            .main-promo__text Купить мужские парикмахерские товары в Санкт-Петербурге или Москве очень просто. Мы осуществляем доставку по всей России и странам СНГ. Для оптовых покупателей предоставляется бесплатная доставка. (Уточняйте при оформлении заказа).

            .main-promo__sub-title Несколько причин начать сотрудничество с нами:
            ul.main-promo__list
                li Официальный представитель мировых брендов мужской косметики;
                li Готовые решения для барбершопов и салонов красоты;
                li Каталог с постоянно обновляющимся ассортиментом продукции.

        <div class='x_mark_svg'>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="816" height="816" viewBox="0 0 816 816">
                <clipPath id="test">
                    <path id="Union_20" data-name="Union 20" d="M408,571.2,163.2,816,0,652.8,244.8,408,0,163.2,163.2,0,408,244.8,652.8,0,816,163.2,571.2,408,816,652.8,652.8,816Z" opacity="0.5" fill="url(#linear-gradient)"/>
                </clipPath>
                <image width="846" height="846" href="./img/brand/brand_x_mark_img.jpg" clip-path="url(#test)" x='0px' y='0px' />
            </svg>
        </div>