section.main-first

    .main-first__footer
        .main-first__btns
            .main-first__btn(prev)
            .main-first__btn(next)
        .main-first__counter
            span.main-first__counter--current 1
            span.main-first__counter--all / 3


    .swiper-wrapper

        .main-first-block(style='background-image: url("./img/main/galore_promo_1.png");' counter='1').swiper-slide
            .main-first-block__container
                .main-first-block__title Премиальная мужская косметика
                .main-first-block__sub-title Уникальные бренды из США, Великобритании и Италии с доставкой по всей России от 1-го дня
                a(href='').main-first-block__btn.btn.btn--white Смотреть бренды

        .main-first-block(style='background-image: url("./img/main/galore_promo_1.png");' counter='2').swiper-slide
            .main-first-block__container
                .main-first-block__title Премиальная мужская 
                .main-first-block__sub-title Уникальные бренды из США, Великобритании и Италии с доставкой по всей России от 1-го дня
                a(href='').main-first-block__btn.btn.btn--white Смотреть бренды

        .main-first-block(style='background-image: url("./img/main/galore_promo_1.png");' counter='3').swiper-slide
            .main-first-block__container
                .main-first-block__title Премиальная 
                .main-first-block__sub-title Уникальные бренды из США, Великобритании и Италии с доставкой по всей России от 1-го дня
                a(href='').main-first-block__btn.btn.btn--white Смотреть бренды