section.main-brands
    .n-container.main-brands__n-container
        .main-brands__title.heading-title-l Эксклюзивно для России

        <!-- Слайдер с логотипа брендов -->
        .main-brands__slider
            .main-brands__btns
                .main-brands__btn(prev)
                .main-brands__btn(next)

            .main-brands__wrap
                .swiper-wrapper
                    .main-brands__item.swiper-slide
                        img(src="./img/main/brands/london.jpg", alt="")
                    .main-brands__item.swiper-slide
                        img(src="./img/main/brands/solomons.jpg", alt="")
                    .main-brands__item.swiper-slide
                        img(src="./img/main/brands/tomb_45.jpg", alt="")
                    .main-brands__item.swiper-slide
                        img(src="./img/main/brands/fheads.jpg", alt="")