main.main(style='overflow:hidden')
	include promo.pug
	include capability.pug
	include video.pug
	include benefits.pug
	include tariff.pug
	include rewies.pug
	include clients.pug
	include updates.pug
	include links.pug
	include payment.pug
