section.main-room
    .n-container.main-room__n-container
        .main-room__title.heading-title-l До встречи на шоуруме!

        .main-room__galery
            .main-room__img._x4
                img(src="./img/main/room/1.jpg", alt="")

            .main-room__box
                .main-room__img._x1
                    img(src="./img/main/room/2.jpg", alt="")

                .main-room__img._x1
                    img(src="./img/main/room/3.jpg", alt="")

                .main-room__img._x1
                    img(src="./img/main/room/4.jpg", alt="")

                .main-room__img._x1
                    img(src="./img/main/room/4.jpg", alt="")

        p.main-room__address ТК «Гарден Сити», С-Петербург, Лахтинский проспект 85Б, 2 этаж <br> Пн-Пт  10.30 – 20.30