<!-- первый экран -->
include main_first.pug


<!-- Буллиты -->
include ../components/bullets/bullets_default.pug


<!-- Делай бизнес с Galore -->
include ../components/link_x2.pug


<!-- Эксклюзив для России ( Слайдер с брендами ) -->
include main_brands.pug


<!-- Galore Shop -->
include ../components/link_x1.pug
+link_x1('Galore Shop', 'Розничный каталог продукции', './img/main/galore_shop.jpg')


<!-- Events -->
+link_x1('Events', 'Мастерклассы и мероприятия', './img/main/events.jpg')


<!-- Show room -->
+link_x1('Show Room', 'Шоурум в санкт-петербурге', './img/main/events.jpg')


<!-- Буллиты -->
include ../components/bullets/bullets_bold.pug


<!-- Сosmetics & accessories for men -->
include ../components/link_x6.pug


<!-- Распродажа Sale Sale Sale -->
include main_sale.pug


<!-- Galore - твой надежный партнер -->
include main_promo.pug


<!-- Худая форма -->
include ../components/form_thin.pug


<!-- Show Room -->
include main_room.pug