section.main-sale
    .n-container.main-sale__n-container
        .main-sale__title.heading-title-l SALE! SALE! SALE!

        .main-sale-slider
            .main-sale-slider__btns
                .main-sale-slider__btn(prev)
                .main-sale-slider__btn(next)
            .main-sale-slider__wrap
                .swiper-wrapper

                    <!-- Карточка товара -->
                    .main-sale-item.swiper-slide
                        .main-sale-item__img
                            img(src="./img/main/sale/1.jpg", alt="")
                        a(href='', target='_blank').main-sale-item__name Паста сильной фиксации с легким блеском SATIN Vol. 4 Ruger, 100 мл
                        span.main-sale-item__available В наличии
                        span.main-sale-item__price 3 990 ₽
                        button.main-sale-item__btn В корзину
                    <!-- [END] Карточка товара -->

                    <!-- Карточка товара -->
                    .main-sale-item.swiper-slide
                        .main-sale-item__img
                            img(src="./img/main/sale/1.jpg", alt="")
                        a(href='', target='_blank').main-sale-item__name Паста сильной фиксации с легким блеском SATIN Vol. 4 Ruger, 100 мл
                        span.main-sale-item__available В наличии
                        span.main-sale-item__price 3 990 ₽
                        button.main-sale-item__btn В корзину
                    <!-- [END] Карточка товара -->


                    <!-- Карточка товара -->
                    .main-sale-item.swiper-slide
                        .main-sale-item__img
                            img(src="./img/main/sale/1.jpg", alt="")
                        a(href='', target='_blank').main-sale-item__name Паста сильной фиксации с легким блеском SATIN Vol. 4 Ruger, 100 мл
                        span.main-sale-item__available В наличии
                        span.main-sale-item__price 3 990 ₽
                        button.main-sale-item__btn В корзину
                    <!-- [END] Карточка товара -->