section.promo
    .promo__container
        .promo-title
            h1 SEO<span>TRAWL</span>
            p Сервис, созданный сеошниками для сеошников.
        a(open-popup="registration_popup").promo-btn Протестировать бесплатно
        .promo-row
            .promo-row-item
                span 666
                p Пользователей
            .promo-row-item
                span 666
                p Проектов
            .promo-row-item
                span 666 66
                p Страниц
            .promo-row-item
                span 666 666
                p Поисковых запросов
            .promo-row-item
                .promo-row-item-links
                p Посоветуйте нас друзьям