section.rewies
    .rewies__title
        h2 Мнение экспертов
        p Многие уже оценили работу сервиса, ознакомьтесь с отзывами пользователей
    .rewies-slider-wrap
        .rewies-slider-prev.rewies-slider-btn
        .rewies-slider-next.rewies-slider-btn
        .rewies-slider
            .swiper-wrapper
                .swiper-slide.rewies-slide
                    img(src='./img/home/rewies/daniil.png')
                    .rewies-slide-col
                        span.rewies-slide__name Даниил Куропов
                        p.rewies-slide__rewie Используем Сеотролль в продакшене более 2 лет на этапе закрытой альфа-версии. За день 1 специалист может делать до 20 сложных ТЗ (больше 100 ключей на страницу) и больше сотни маленьких. Сервис позволяет комфортно работать с ядрами > 10k ключей.
                        a(href='https://searchengines.guru/showthread.php?t=961517' target='_blank') Ссылка на первоисточник
                .swiper-slide.rewies-slide
                    img(src='./img/home/rewies/alexey.png')
                    .rewies-slide-col
                        span.rewies-slide__name Алексей Коноплев
                        p.rewies-slide__rewie Отличная прога для сео-оптимизаторов и владельцев интернет бизнеса. Лично для нас, SeoTrawl сделал оптимизацию сайта (для сео продвижения) предельно ясной и прозрачной. Если раньше приходилось писать тексты, заголовки, тайтлы и т.д. интуитивно, опираясь на пресловутый wordstat, то теперь с помощью SeoTrawl, такой процесс как внутренняя оптимизация стал оцифрован и наглядно показывает что и как нужно сделать. C помощью SeoTrawl переделаны все тексты, заголовки, keywards, description и title. Наш результат - ТОП 5 практически по всем ключевым запросам в Яндекс и Google.
                        a(href='javascript:void();' target='_blank') Ссылка на первоисточник
                .swiper-slide.rewies-slide
                    img(src='./img/home/rewies/kirill.png')
                    .rewies-slide-col
                        span.rewies-slide__name Кирилл
                        p.rewies-slide__rewie Почти 2 года пользуюсь сео троллем в бете. Интуитивно понятный интерфейс. Быстрая скорость работы с проектами. Удобно перекидывать проекты с аккаунта на аккаунт, делегировать доступы коллегам или клиентам. Отлично подходит для работы новичкам. Значительно ускоряет и структурирует работу опытных сеошников. Постоянно появляются полезные фиичи. Оперативный адекватный саппорт. 
                        a(href='https://searchengines.guru/showthread.php?t=961517' target='_blank') Ссылка на первоисточник
        