section.tariff
    h2.tariff__title Тарифы SeoTrawl
    .tariff__container
        ul.tariff-list
            li
                p Импорт слов
                span 10 коп.
            li
                p Сбор Pagespeed
                span 10 коп.
            li
                p Сбор рекомендаций
                span 50 коп.
            li
                p Сбор частотности
                span 1 коп.
            li
                p Сбор позиции
                span 1 коп.
        .tariff-reg
            h3.tariff-reg__title Зарегистрируйтесь <br> и получите 50 руб.
            p Этого достаточно для:
            ul.tariff-reg-list
                li - проверки 2 500 позиций в Google и Yandex
                li - проработки ядра в 65 слов
            a(open-popup="registration_popup").tariff-reg__btn Зарегистрироваться
