section.updates
    .updates__title
        h2  Обновления SeoTrawl
        p Текущая версия: 0.9.2
    .updates-row
        .updates-item
            .updates-item__header
                span Версия 0.9.2
                span 2017-05-17
            ul.updates-item__list
                li + Повышена стабильность системы:
                li ++ Задачи сбора большк не подвисают;
                li ++ Ликвидированы баги при импорте текстов и ключей;
                li ++ Повышена производительность ряда модулей;
                li ++ Исправлены мелкие глюки.
                br

                li + Добавлен мастер обучения, после регистрации можно (и нужно) пройти краткий курс по всему функцоиналу.
                br

                li + Добавлен массовый импорт ключей из CSV в формате "ключевик;url".
                br

                li + Добавлен импорт количества посещений по каждому ключу из метрики.
                br

                li + После снижения цен в 10 раз в предыдущем апдейте снизили в 5 раз начисляемую на счет при регистрации сумму.*Внимание, часть суммы становится доступной при прохождении обучения.
            .updates-item__btn Развернуть

        .updates-item
            .updates-item__header
                span Версия 0.9.1
                span 2017-05-17
            ul.updates-item__list
                li + Улучшен функционал рекомендаций. Для их создания мы собираем top10 указанной вами выдачи, удаляем самый большой и самый маленький результат и выводим следующие данные:
                li ++ Для Title, H1, description (кружочков) мы считаем средний результат из выдачи и закрашиваем получившийся коэффициент серым. Теперь ваш результат будет зеленым, если вы выполнили рекомендацию, а не вышли на 100%;
                li ++ Для tf(точные вхождения) и t(неточные вхождения) ваше значение будет указываться посередине. Справа будет минимальное значение из выдачи, слева – максимальное. При приближении к максимуму ключ будет краснеть, к минимуму – синеть. При выходе за рамки рекомендации ключ станет выделяться жирным шрифтом.
                br

                li + Текст при импорте разбивается на пассажи, все оценки проводятся в рамках пассажа. Делиметеры - точка, точка с запятой, знак вопроса, восклицательный знак, все перечисленное с пробелом после знака.
                br

                li + Самое приятное обновление - мы добавили серверов, устранили множество ошибок и теперь не боимся нагрузки. Поэтому мы снизили цены. На ряд пунктов в 2 раза, на остальные - в 10. Новые цены:
                br

                li - Импорт слова - 10 коп.
                li - Сбор pagespeed - 10 коп.
                li - Сбор рекомендаций к ключу - 50 коп.
                li - Сбор частотности - 1 коп.
                li - Сбор позиции - 1 коп.
            .updates-item__btn Развернуть