section.video
    .video-title
        h2 Как это работает?
        p Ознакомьтесь с основами работы в сервисе SeoTrawl. Это займет всего несколько минут
    a.video-link(href='https://www.youtube.com/embed/88Ord0X8b_E' data-fancybox)
        .video-link__btn