.form-thin {
  width: 100%;
  display: flex;
  justify-content: center;

  background-color: var(--galore_black);

  padding-top: 48px;
  padding-bottom: 48px;

  &__n-container {
    align-items: center;
    justify-content: space-between;
  }

  &__offer {
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    font-weight: 700;
    text-align: left;
    color: var(--galore_white);

    margin-right: 32px;
  }

  &__btn {
    width: 393px;
  }
}