<div class='x_mark_svg'>
//- украинский
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="816" height="816" viewBox="0 0 816 816">
  <defs>
    <linearGradient id="linear-gradient" x1="0.102" y1="0.898" x2="0.889" y2="0.111" gradientUnits="objectBoundingBox">
      <stop offset="0" stop-color="#00b8df"/>
      <stop offset="1" stop-color="#e89f28"/>
    </linearGradient>
  </defs>
  <clipPath id="test">
  <path id="Union_22" data-name="Union 22" d="M408,244.8,163.2,0,0,163.2,244.8,408,0,652.8,163.2,816,408,571.2,652.8,816,816,652.8,571.2,408,816,163.2,652.8,0Z" opacity="0.5" fill="url(#linear-gradient)"/>
  </clipPath>
    <image width="1330" height="855" href="/img/x_mark/x_mark_try.jpg" clip-path="url(#test)" x='-256px' y='-20px' />
    <path id="Union_22" data-name="Union 22" d="M408,244.8,163.2,0,0,163.2,244.8,408,0,652.8,163.2,816,408,571.2,652.8,816,816,652.8,571.2,408,816,163.2,652.8,0Z" opacity="0.5" fill="url(#linear-gradient)"/>
</svg>

</div>
