section.brands-promo
    .n-container.brands-promo__n-container
        <!-- Ниже заголовки и текста - не знаю какие для них нужно было проставить теги, поэтому сделал дивами на время, чтоб ниче не напутать -->
        .brands-promo__content
            .brands-promo__title.heading-title-l Brand’s
            .brands-promo__sub-title Фирменная продукция оптом и в розницу
            .brands-promo__text Мы являемся официальным дилером представленных торговых марок — никакого «серого» импорта, только эксклюзив. На все товары распространяется фирменная гарантия, а цены в нашем магазине соответствуют рекомендованным производителем.
            p.brands-promo__sub-title Оставь свою почту и получи единый каталог всех брендов
            <!-- Форма -->
            form(action="").brands-promo__form
                input(type="email" placeholder='Email').field-face
                button(type='submit').btn.btn--black Отправить

        <div class='x_mark_svg'>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="816" height="816" viewBox="0 0 816 816">
                <clipPath id="test">
                    <path id="Union_20" data-name="Union 20" d="M408,571.2,163.2,816,0,652.8,244.8,408,0,163.2,163.2,0,408,244.8,652.8,0,816,163.2,571.2,408,816,652.8,652.8,816Z" opacity="0.5" fill="url(#linear-gradient)"/>
                </clipPath>
                <image width="1141" height="911" href="./img/brands/brands_x_mark_img.png" clip-path="url(#test)" x='-50px' y='0px' />
            </svg>
        </div>