<!-- Хлебные крошки -->
include ../components/breadcrumbs.pug


<!-- Первый экран -->
include brands_promo.pug


<!-- Список брендов -->
include brands_list.pug


<!-- Большая форма с крестом -->
include ../components/form_x_mark.pug


<!-- SEO-абзац -->
include ../components/paragraph/paragraph_default.pug