section.blogs-main
  .n-container.blogs-main__n-container
    ul.blogs-main__list
      li.blogs-main-item
        .blogs-main-item__img
          img(src="./img/blogs/blogs_item_1.png", alt="")
        .blogs-main-item__col
          span.blogs-main-item__place Мероприятие, Санкт-Петербург
          .blogs-main-item__title Выездная фотосессия с великими мастерами современности
          span.blogs-main-item__date 22 октября, 2019
          p.blogs-main-item__desc Актуальные цены на мужскую косметику для бороды в Санкт-Петербурге и Москве представлены в каталоге интернет-магазина. Оформив покупку на нашем сайте, вы получаете оригинальные сертифицированные…
          .blogs-main-item__footer
            a(href="").blogs-main-item__btn.btn.btn--black Читать статью
            span.blogs-main-item__count 1994

      li.blogs-main-item
        .blogs-main-item__img
          img(src="./img/blogs/blogs_item_1.png", alt="")
        .blogs-main-item__col
          span.blogs-main-item__place Мероприятие, Санкт-Петербург
          .blogs-main-item__title Выездная фотосессия с великими мастерами современности
          span.blogs-main-item__date 22 октября, 2019
          p.blogs-main-item__desc Актуальные цены на мужскую косметику для бороды в Санкт-Петербурге и Москве представлены в каталоге интернет-магазина. Оформив покупку на нашем сайте, вы получаете оригинальные сертифицированные…
          .blogs-main-item__footer
            a(href="").blogs-main-item__btn.btn.btn--black Читать статью
            span.blogs-main-item__count 1994

      button.blogs-main__show-more.btn.btn--black Показать еще

    <!-- Правая часть с рандомной статьей и инстой -->
    .blogs-main__aside

      a(href='').blogs-main-random-item
        .blogs-main-random-item__img
          img(src="./img/blogs/blogs_item_1.png", alt="")
        .blogs-main-random-item__col
          span.blogs-main-random-item__type Уход за лицом
          .blogs-main-random-item__name Выездная фотосессия с великими мастерами современности
          .blogs-main-random-item__footer
            span.blogs-main-random-item__date 22 октября, 2019
            span.blogs-main-random-item__count 1994

      .blogs-main-inst
        a(href='').blogs-main-inst__heading Instagram
        .blogs-main-inst__header
          .blogs-main-inst__logo
            img(src="./img/svg/logo_black.svg", alt="galoremen")
          a(href='').blogs-main-inst__title
            span.blogs-main-inst__title--name galoremen
            span.blogs-main-inst__title--type Компания

        .blogs-main-inst__subs <span>13,1 тыс.</span> подписчиков

        .blogs-main-inst__galery
          .blogs-main-inst__img
            img(src="./img/blogs/blogs_item_1.png", alt="")
          .blogs-main-inst__img
            img(src="./img/blogs/blogs_item_1.png", alt="")
          .blogs-main-inst__img
            img(src="./img/blogs/blogs_item_1.png", alt="")
          .blogs-main-inst__img
            img(src="./img/blogs/blogs_item_1.png", alt="")
        
        a(href="").blogs-main-inst__btn.btn.btn--white Подписаться