section.blogs-promo
  .n-container.blogs-promo__n-container
    .blogs-promo__title.heading-title-l Blog
    .blogs-promo-row
      .blogs-promo-content
        span.blogs-promo-content__place Мероприятие, Санкт-Петербург
        .blogs-promo-content__title Выездная фотосессия с великими мастерами современности
        span.blogs-promo-content__date Выездная фотосессия с великими мастерами современности
        p.blogs-promo-content__desc Для мужчины косметика для бороды и усов является залогом их ухоженности и здорового состояния. Обладатели роскошных бород ежедневно используют различные косметические средства и аксессуары по уходу за волосами и кожей на лице. Интенсивное питание и смягчение – вот основные задачи этой линейки косметики. Актуальные цены на мужскую косметику для бороды в Санкт-Петербурге и Москве представлены в каталоге интернет-магазина. Оформив покупку на нашем сайте, вы получаете оригинальные сертифицированные средства премиального качества.
        .blogs-promo-content__footer
          a(href='').blogs-promo-content__btn.btn.btn--white Читать статью
          .blogs-promo-content__views
            span.blogs-promo-content__views--icon
            span.blogs-promo-content__views--count 1994

      .blogs-promo__img(style='background-image: url("./img/blog/blog_promo_bg.jpg");')
        <!-- сюды тоже вставить тот же путь к картинке -->
        img(src="./img/blog/blog_promo_bg.jpg", alt="")