section.product-same
  .n-container.product-same__n-container
    .product-same__title Тоже покупают / Рекомендуем

    .product-same-slider
      .product-same-slider__btns
        .product-same-slider__btn(prev) prev
        .product-same-slider__btn(next) next
      .product-same-slider__wrap
        .swiper-wrapper
          a.product-same-item.swiper-slide(href='', target='_blank')
            img(src="./img/product_card/same/1.png", alt="").product-same-item__img
            span.product-same-item__name Паста сильной фиксации с легким блеском SATIN Vol. 4 Ruger, 100 мл
            span.product-same-item__available В наличии
            span.product-same-item__price 3 990 ₽
          a.product-same-item.swiper-slide(href='', target='_blank')
            img(src="./img/product_card/same/1.png", alt="").product-same-item__img
            span.product-same-item__name Паста сильной фиксации с легким блеском SATIN
            span.product-same-item__available В наличии
            span.product-same-item__price 3 990 ₽
          a.product-same-item.swiper-slide(href='', target='_blank')
            img(src="./img/product_card/same/1.png", alt="").product-same-item__img
            span.product-same-item__name Паста сильной фиксации с легким блеском SATIN Vol. 4 Ruger, 100 мл
            span.product-same-item__available В наличии
            span.product-same-item__price 3 990 ₽
          a.product-same-item.swiper-slide(href='', target='_blank')
            img(src="./img/product_card/same/1.png", alt="").product-same-item__img
            span.product-same-item__name Паста сильной фиксации с легким блеском SATIN Vol. 4 Ruger, 100 мл
            span.product-same-item__available В наличии
            span.product-same-item__price 3 990 ₽
          a.product-same-item.swiper-slide(href='', target='_blank')
            img(src="./img/product_card/same/1.png", alt="").product-same-item__img
            span.product-same-item__name Паста сильной фиксации с легким блеском SATIN Vol. 4 Ruger, 100 мл
            span.product-same-item__available В наличии
            span.product-same-item__price 3 990 ₽